header {
  border-style: solid;
  color: #08285b;;
}
h1 {
  font-size: 2.25em;
}
.main {
  margin-left: 10%;
  margin-right: 10%;
}
#user-input {
  margin-left: 32%;
}
#join {
  margin-left: 2%;
}
#answer {
  margin-left: 4%;
}
#useranswer {
  margin-left: 32%;
}
#users {
  font-size: 1.5em;
  color: blue;
}
#question {
  font-size: 2em;
  color: #08285b;
}
#outcome {
  color: red;
}
